target/

!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**


### Package Files ###
*.jar
*.war
*.ear
*.sw?
*.ipr

### STS ###
.mvn
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.recommenders

### Mac ###
.DS_Store

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
bin/

### VS Code ###
.vscode/

### Misc ###
.*.md.html